<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>gunui-base demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../gunui-base.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic gunui-base demo</h3>
      <demo-snippet>
        There is no visual appearance, but there is some info in the console
        <template>
          <gunui-base peers="'http://localhost:8081/gun','http://my-gun-server/gun'" demo></gunui-base>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
